<!--文章列表-->
<h3>文章</h3>
<a ui-sref="index.write"><button class="btn btn-primary">写文章</button></a>
<div ng-controller='LoadArticle'>
	<select class="form-control w200 mt10" ng-model="value" ng-change="LoadById(value)">
	  <option value='1'>管理制度</option>
	  <option value='2'>组织机构</option>
	  <option value='3'>国际往来</option>
	  <option value='4'>昆虫科普</option>
	  <option value='5'>虫业年会</option>
	  <option value='6'>八方虫会</option>
	  <option value='7'>虫业通讯</option>
	  <option value='8'>获奖荣誉</option>
	  <option value='9'>虫企交流</option>
	  <option value='10'>协会新闻</option>
	  <option value='11'>通知公告</option>
	  <option value='12'>虫业研讨</option>
	  <option value='13'>国际交流</option>
	  <option value='14'>获奖荣誉</option>
	  <option value='15'>专题</option>
	  <option value='16'>代表大会</option>
	  <option value='19'>活动计划</option>
	</select>
	<table class="table table-hover mt20">
		<tr><th>文章名</th><th>发布日期</th><th>作者</th><th>编辑</th><th>删除</th></tr>		
		<tr ng-repeat="article in articles">
			<td>{{article.title}}</td>
			<td>{{article.time}}</td>
			<td>{{article.author}}</td>
			<td><a ui-sref="index.rewrite({articleId:article.id})">编辑</a/></td>
			<td><a ng-click="DeleteArticle(article.id)">删除</a/></td>
		</tr>
	</table>
</div>
