<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">山东虫业协会管理系统</a>
    </div>  
    <ul class="nav navbar-nav" ng-controller='changeColor'>
        <li>
            <a ui-sref="index" ng-click="change($event)" class="a-color-active active">首页管理</a>
        </li>
        <li>
            <a ui-sref="index.articles" ng-click="change($event)" class="a-color">文章发布</a>
        </li>
        <li>
            <a ui-sref="index.adminsetting" ng-click="change($event)" class="a-color">管理员设置</a>
        </li>
        <li>
            <a ui-sref="index.user" ng-click="change($event)" class="a-color">会员管理</a>
        </li>
        <li>
            <a ui-sref="index.settings" ng-click="change($event)" class="a-color">系统设置</a>
        </li>
        <li style="margin-left:300px">
            <a class="a-color" href="#">回到首页</a>
        </li>
        <li>
            <a id="exit" href="#">注销</a>
        </li>
    </ul>
</nav>
